@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


.first_leaf{
  transform: rotate(-10deg);
}.sec_leaf{
  transform: rotate(-25deg);
}.third_leaf{
  transform: rotate(5deg);
}.four_leaf{
  transform: rotate(10deg);
}.five_leaf{
  transform: rotate(-0deg);
}



.mirror_btn{
  box-shadow: 2px 5px 5px black , inset 2px 2px 1px white;
}